@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    font-family: 'Mulish', sans-serif;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(-120deg, rgb(156, 243, 255), rgb(255, 243, 175), rgb(255, 151, 191));
    height: 100vh;
    justify-content: space-around;
    align-items: center;   
    overflow: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    margin: 1.8vh;
}

.block__2 {
    width: 100%;
    height: 100%;
    
    color: #fff; 
    
}
.container__bl2 {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    background: linear-gradient(300deg, rgb(156, 243, 255), rgb(255, 243, 175), rgb(255, 151, 191));
}

.slide {
    height: 40vh;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    flex: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 800ms ease-in-out;
    filter: drop-shadow(100px 200px 1200px rgb(0, 0, 0)), saturate(100%), ;
}

.slide h3 {
    position: absolute;
    font-size: 5vh;
    top: 2vh;
    left: 3vw;
    margin: 0px;
    opacity: 0;
    
}

.slide.active {
    filter: saturate(140%), contrast(120%) ;
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.4s;
}

.row__cards {
    display: flex;
    height: 42vh;
    margin-top: 3vh;
}

.button__row {
    display: flex;
    margin-top: 6rem;
}
